/*Design by Astika Yasa*/


/*Implementation Design Website by Wafa Rifqi Anafin*/


/*CSS Buat Desktop Version*/

@font-face {
    font-family: VagRoundedBold;
    src: url('../font/VAGRoundedStd-Bold_0.otf');
}

body {
    margin: 0;
    padding: 5%;
    overflow: hidden;
    background: rgb(157, 206, 98);
    background: linear-gradient(80deg, rgba(157, 206, 98, 1) 0%, rgba(116, 188, 102, 1) 100%);
}

.tengah {
    margin-top: 0px;
    width: 94%;
    height: 80vh;
    background: #f5f5f5;
    background-image: url('../image/monkeyforest.png');
    background-position: right;
    background-size: 110vh;
    background-repeat: no-repeat;
    border-radius: 30px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(64, 164, 96, 1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(64, 164, 96, 1);
    box-shadow: 4px 4px 5px 0px rgba(64, 164, 96, 1);
}

.kiri {
    padding-left: 90px;
    padding-top: 2%;
    width: 46%;
    text-align: left;
}

.navbar-default {
    margin-top: 15px;
    background-color: transparent;
    border: none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #808080;
    background-color: transparent;
}

.container-fluid {
    padding-right: 20px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
}

#monkeylink2 {
    font-size: 20px;
    font-weight: bold;
    color: #f5f5f5;
    font-family: VAgRoundedBold;
    border-bottom: 2px solid transparent;
}

#monkeylink2:hover {
    cursor: pointer;
    color: #dbd9d9;
    border-bottom: 2px solid #dbd9d9;
}

#monkeylink1 {
    font-size: 20px;
    font-weight: bold;
    color: #40a460;
    border-bottom: 2px solid transparent;
    font-family: VAgRoundedBold;
}

#monkeyha1 {
    font-family: VAgRoundedBold;
    font-size: 64px;
}

#monkeyP {
    font-weight: 500;
    color: #909090;
    font-family: VAgRoundedBold;
}

.monkeyButton {
    padding: 14px 20px 14px 20px;
    border-radius: 400px;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    font-family: VAgRoundedBold;
    background: rgb(157, 206, 98);
    background: linear-gradient(80deg, rgba(157, 206, 98, 1) 0%, rgba(116, 188, 102, 1) 100%);
}

.monkeyButton:hover {
    cursor: pointer;
    background: rgba(116, 188, 102, 1);
    background: linear-gradient(80deg, rgba(116, 188, 102, 1) 100%, rgba(157, 206, 98, 1) 100%);
}


/*Design by Astika Yasa*/


/*Implementation Design Website by Wafa Rifqi Anafin*/


/*CSS Buat Phone Version*/

@media (min-width: 300px) and (max-width: 700px) {
    .tengah {
        margin-top: 20px;
        width: 94%;
        height: 80vh;
        background: #f5f5f5;
        background-image: url('../image/mobilebg.jpg');
        background-position: center;
        background-size: 115%;
        background-repeat: no-repeat;
        border-radius: 30px;
        -webkit-box-shadow: 4px 4px 5px 0px rgba(64, 164, 96, 1);
        -moz-box-shadow: 4px 4px 5px 0px rgba(64, 164, 96, 1);
        box-shadow: 4px 4px 5px 0px rgba(64, 164, 96, 1);
    }
    .kiri {
        border-radius: 30px;
        padding-left: 30px;
        padding-top: 1%;
        width: 100%;
        padding-bottom: 35px;
        text-align: left;
        background: #ffffff94;
    }
    #monkeyha1 {
        font-family: VAgRoundedBold;
        font-size: 30px;
    }
    #monkeyP {
        font-weight: 500;
        color: #707070;
        font-family: VAgRoundedBold;
    }
    .monkeyButton {
        padding: 14px 20px 14px 20px;
        border-radius: 400px;
        color: #f5f5f5;
        font-weight: bold;
        font-size: 16px;
        text-decoration: none;
        font-family: VAgRoundedBold;
        background: rgb(157, 206, 98);
        background: linear-gradient(80deg, rgba(157, 206, 98, 1) 0%, rgba(116, 188, 102, 1) 100%);
    }
    .monkeyButton:hover {
        cursor: pointer;
        padding: 14px 20px 14px 20px;
        border-radius: 400px;
        color: #f5f5f5;
        font-weight: bold;
        font-size: 16px;
        text-decoration: none;
        font-family: VAgRoundedBold;
        background: rgba(116, 188, 102, 1);
        background: linear-gradient(80deg, rgba(116, 188, 102, 1) 100%, rgba(157, 206, 98, 1) 100%);
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border: none;
        width: 100%;
        background-color: rgba(74, 151, 56, 0.568);
        border-radius: 30px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: rgba(74, 151, 56, 0.568);
    }
    .navbar-default .navbar-toggle {
        background-color: #f5f5f5;
        border: none;
    }
    .navbar-default .navbar-toggle:focus {
        background-color: #f5f5f5;
        border: none;
    }
    .navbar-default .navbar-toggle .icon-bar:focus {
        background-color: rgba(74, 151, 56, 0.568);
    }
    #monkeylink1 {
        font-size: 20px;
        font-weight: bold;
        color: #f5f5f5;
        border-bottom: 2px solid #f5f5f5;
        font-family: VAgRoundedBold;
    }
}


/*Design by Astika Yasa*/


/*Implementation Design Website by Wafa Rifqi Anafin*/
